@charset "utf-8";
/* CSS Document */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	 box-sizing: border-box; 
}
html, body {
	margin: 0px; padding: 0px;
	position: relative;
	scroll-behavior: smooth;
}

body { 
	/* background: url(../../img/general/demo-bg.jpg); */
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Poppins', sans-serif;
	color: #271F30;
	background-color: #333;
	font-size: 0.9em !important;
}

a:not(.nostyle) { text-decoration: none; color: #fff; }
		
.nomp { margin: 0px; padding: 0px; }

::-webkit-input-placeholder { font-style: italic; color: #aaa; }
		  :-moz-placeholder { font-style: italic; color: #aaa; }
		 ::-moz-placeholder { font-style: italic; color: #aaa; }
	 :-ms-input-placeholder { font-style: italic; color: #aaa; }

.one-section { 
	padding: 0px 5vw;
	background-color: #ffffff;
}




.subheader { border-bottom: 1px solid #1877bb; font-size: 2.5em; margin-bottom: 3vh; position: relative; }
.subheader span { border-bottom: 8px solid #F8C83F; margin-left: 10px; }


@media screen and (min-aspect-ratio: 13/9) /* Landscape */ {
	.moboshow { display: none !important; }
}

@media screen and (max-aspect-ratio: 13/9) /* portrait */ {
	#footer01 { padding-left: 15px; padding-right: 15px; }

	.footerc { display: flex; flex-direction: column; font-size: 0.7em; }
	#fc01 { order: 2; }
	#fc02 { order: 1; }
	
	.mobohide { display: none !important; }	
}

@media screen and (max-width: 991px) {
	.subheader { font-size: 5vw;  }
}